<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Barosa Azure Vision</title>
        <script src="barosa-azure.js"></script>
        <script type="module">
            document.addEventListener("DOMContentLoaded", function() {
                const props = {
                    "avifQuality": "<%= avifQuality %>",
                    "avifAlphaQuality": "<%= avifAlphaQuality %>",
                    "avifSpeed": "<%= avifSpeed %>",
                    "features": "<%= features %>"
                }
                scarab("<%= token %>", "<%= window %>", "<%= method %>", props)
            })
        </script>
    </head>
    <body>
    </body>
</html>
